<div class="slider">
    <div class="accentbox"></div>

    <div class="phonelg1" wmAnimate="fadeInUp" speed="normal" aos></div>
    <div class="phonelghalf" wmAnimate="fadeInUp" speed="normal" aos></div>
    <div class="phonelg2" wmAnimate="fadeInUp" speed="normal" aos></div>
    <div class="phonelg3" wmAnimate="fadeInUp" speed="normal" aos></div>
    <div class="phonesm1" wmAnimate="fadeInUp" speed="normal" aos></div>
    <div class="phonesm2" wmAnimate="fadeInUp" speed="normal" aos></div>


</div>
