<div class="menudiv">

  <div class="back2" *ngIf="!condition"><button  (click) = "goBack()">about</button></div>
<div class="back1" *ngIf="condition"><button (click) = "goTeam()">go team!</button></div>
</div>


<div *ngIf="condition" class="about"  wmAnimate="fadeInRight" speed="normal">
    <div class="aboutbox"><h1 wmAnimate="fadeInRight" speed="normal" aos>about caprock</h1>
      <div class="accentbox"></div>
      <div class="abouttext" wmAnimate="fadeInLeft" speed="normal" aos>{{aboutus}}
      <h4 align="center">the team<br /></h4>
     
    </div>
    </div>
</div>

<div *ngIf="!condition" class="stuff" wmAnimate="fadeInLeft" speed="fast">

<app-team></app-team>
</div>