<div class="contact"><h1>contact</h1>
      <div class="contactinfo">
        <h4><p>(512) 842-7569</p>
        <p>info@caprockapps.com</p>
        <p>5280 34th ST <br />
        Lubbock, TX 79407<br />
        Hours: Monday-Friday 8-5</p>
        <p>(Click map to expand)</p></h4>

        <div class="map"></div>
    </div>
    <div class="accentbox">
        <div class="contactform">
            <b class="label">EMAIL</b> <input type="text" class="holder" placeholder="youremail@example.com"/>
            <b class="label">NAME</b> <input type="text" class="holder" placeholder="your name"/>
            <div class="contactmessage"><h2>I have a project that I would like to talk to y'all about.</h2></div>
             <div class="contactbutton"><button class="stuff">SUBMIT</button></div>
         </div>
    </div>

  
  


</div>
