@import 'src/styles.scss';


.packages{
    @include sections;
    h1{
        text-align: center;
        letter-spacing: 20px;
        margin-top: 60px;
        margin-bottom: 50px;
    }
    .package1{
        @include textposition(0px,822px);
        border-radius: 50px;
        width: 275px;
        height: 522px;
        background-color: rgba(0, 0, 0, 0.171);
    }

    .package2{
        @include textposition(50px,551px);
        border-radius: 50px;
        width: 193px;
        height: 421px;
        background-color: rgba(0, 0, 0, 0.171);
    }


    .package3{
        @include textposition(50px,1174px);
        border-radius: 50px;
        width: 193px;
        height: 421px;
        background-color: rgba(0, 0, 0, 0.171);
    }
}