
<div class="portfolio"><h1>our work</h1>

  <div class="accentbox" wmAnimate="fadeInRight" speed="normal" aos></div>
  <div class="forward"><button (click) = "condition = !condition">></button></div>
  <div class="back"><button (click) = "condition = !condition"><</button></div>
 <div class="devices">
          <div class="device1" wmAnimate="fadeInRight" speed="normal" aos ></div>
          <div class="device2" wmAnimate="fadeInLeft" speed="normal" aos></div>
      </div>

  <div class="work" wmAnimate="fadeInLeft" speed="normal" aos>
     
          <h2>{{llano.title}}</h2>
          <div class="portfoliotext">
            <h3>PROBLEM</h3>
            {{llano.problem}}
            <h3>SOLUTION </h3>
            {{llano.solution}}
          </div>
        
  </div>

  
  
  
  </div>