
<div class="portfolio"><h1>our work</h1>

  <div class="accentbox" wmAnimate="fadeInRight" speed="normal" aos></div>
 
    <div class="nfsb" [@lastClicked]="nfsbdiv ? 'clicked' : 'notClicked'"><button (click)="show('nfsb')">not for sale</button></div>
    <div class="llano" [@lastClicked]="llanodiv ? 'clicked' : 'notClicked'"><button (click)="show('llano')">llano waste</button></div>
    <div class="farming" [@lastClicked]="farmingdiv ? 'clicked' : 'notClicked'"><button (click)="show('farming')">gabe neil's</button></div>

  
 
 <div class="devices" [ngClass]="myClass">
          <div class="device1"  ></div>
          <div class="device2" ></div>
</div>

  <div class="work" *ngIf="nfsbdiv" wmAnimate="fadeInLeft" speed="normal">
          <h2>{{selectedWork.title}}</h2>
            <div class="portfoliotext">
              <h3>PROBLEM</h3>
              {{selectedWork.problem}}
              <h3>SOLUTION </h3>
              {{selectedWork.solution}}
            </div>
  </div>

  <div class="work" *ngIf="llanodiv" wmAnimate="fadeInLeft" speed="normal">
      <h2>{{selectedWork.title}}</h2>
        <div class="portfoliotext">
          <h3>PROBLEM</h3>
          {{selectedWork.problem}}
          <h3>SOLUTION </h3>
          {{selectedWork.solution}}
        </div>
</div>

<div class="work"*ngIf="farmingdiv"  wmAnimate="fadeInLeft" speed="normal">
    <h2>{{selectedWork.title}}</h2>
      <div class="portfoliotext">
        <h3>PROBLEM</h3>
        {{selectedWork.problem}}
        <h3>SOLUTION </h3>
        {{selectedWork.solution}}
      </div>
</div>

  
  
  
  </div>