<meta name="viewport" content="width=device-width, initial-scale=1.0">



<div class="container">

    <app-menu></app-menu>
    <div class="hero">
        <app-hero ></app-hero>
    </div>


    <div class="section" wmAnimate="fadeInUp" speed="normal" aos>
        <app-about></app-about>
    </div>


    <div class="section" wmAnimate="fadeInUp" speed="normal" aos>
        <app-wireframes></app-wireframes>
    </div>


    <div class="section" wmAnimate="fadeInUp" speed="normal" aos>
        <app-portfolio></app-portfolio>
    </div>

    <div class="section" wmAnimate="fadeInUp" speed="normal" aos>
        <app-testimonials></app-testimonials>
    </div>

    <div class="section" wmAnimate="fadeInUp" speed="normal" aos>
        <app-packages></app-packages>
    </div>
    
    <div class="section" wmAnimate="fadeInUp" speed="normal" aos>
        <app-contact></app-contact>
    </div>


   
    
    
    

    <div class="maincontainer"></div>
</div>