@import 'src/styles.scss';

.fullmenu{
    
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    position: absolute;
  
    h2{
        margin-top: 50px;
    }
}