@import 'src/styles.scss';



.testimonials{
    @include sections;

    @mixin person($top, $left){
        width: 100px;
        height: 100px;
        background-color: black;
        border-radius: 50px;
        margin-top: $top;
        margin-left: $left;
        position: absolute;
        
    }

    .next{
        position: absolute;
        z-index: 10000;  
        margin-left: 1550px;
        margin-top: 370px;
        button{
            background-color: transparent;
            border: none;
            width: 150px;
            height: 40px;
            font-size: 12px;
            text-transform: uppercase;
            font-family: "Roboto Slab";
            opacity: 0.5;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            
        }
        button:hover{
            font-size: 15px;
            opacity: 1;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }
    }

    h1{
        @include textposition(60px, 325px);
        position: absolute;
        letter-spacing: 20px;
    }
    .accentbox{
        @include box(960px, 566px, 122px, 960px);
        position: absolute;

        



    }
    .testimonialtext1{
        @include textposition(223px, 336px);
        width: 561px;
        letter-spacing: 2px;
        line-height: 35px;

        .person{
            
            @include person(40px, 100px);
            h4{
                @include textposition(20px, 120px);
                text-transform: uppercase;
                width: 500px;
            }
        }

      
    }

    .testimonialtext2{
        @include textposition(250px, 996px);
        @include fontcolor($accent);
        width: 561px;
        letter-spacing: 2px;

        .person{
            
            @include person(40px, 100px);
            h4{
                @include textposition(20px, 120px);
                text-transform: uppercase;
                width: 500px;
            }
        }
    }
    
}