<div class="testimonials"><h1>testimonials</h1>

        <div class="next"><button (click)="next()">more</button></div>
  
    <div class="accentbox" wmAnimate="fadeInUp" speed="normal" aos>



      
    </div>
    <div class="testimonialtext1" *ngIf="firstPage" wmAnimate="fadeInRight" speed="normal" aos>
      "There is a well-known agency for governesses in the West End called Westaway's, and there I used to call about once a week in order to see whether anything had turned up which might suit me. Westaway was the name of the founder of the business, but it is really managed by Miss Stoper. She sits in her own little office, and the ladies who are seeking employment wait in an anteroom.
    
    <div class="person"> <h4>Will Graham,<br />Johns Hopkins University</h4></div>  
    </div>
  
    <div class="testimonialtext2" *ngIf="firstPage" wmAnimate="fadeInLeft" speed="normal" aos>
      "I have been a governess for five years," said she, "in the family of Colonel Spence Munro, but two months ago the colonel received an appointment at Halifax, in Nova Scotia, and took his children over to America with him, so that I found myself without a situation. I advertised, and I answered advertisements."
      <div class="person"> <h4>Sherlock Holmes,<br />Johns Hopkins University</h4></div>  
    </div>

    <div class="testimonialtext1" *ngIf="secondPage" wmAnimate="fadeInRight" speed="normal" aos>
      Curabitur pharetra ultrices euismod. Mauris euismod diam risus, eleifend maximus mi scelerisque in. Integer feugiat felis purus, ac faucibus enim consequat ac. Mauris blandit ex arcu, eu venenatis diam lobortis vel. Nunc euismod justo et enim luctus, ut faucibus nisi finibus. Vestibulum facilisis pharetra porta. In pretium ligula mi, sit amet mollis leo malesuada ac. Donec et justo diam. Etiam ut nunc urna.
      <div class="person"> <h4>Will Graham,<br />Johns Hopkins University</h4></div>  
    </div>


    <div class="testimonialtext2" *ngIf="secondPage"  wmAnimate="fadeInLeft" speed="normal" aos>
      "There is a well-known agency for governesses in the West End called Westaway's, and there I used to call about once a week in order to see whether anything had turned up which might suit me. Westaway was the name of the founder of the business, but it is really managed by Miss Stoper. She sits in her own little office, and the ladies who are seeking employment wait in an anteroom.
       <div class="person"> <h4>Sherlock Holmes,<br />Johns Hopkins University</h4></div>  
    </div>
  
  </div>