@import 'src/styles.scss';



.testimonials{
    @include sections;


    .next{
        position: absolute;
        z-index: 10000;  
        margin-left: 1500px;
        margin-top: 350px;
        button{
            background-color: transparent;
            border: none;
            width: 150px;
            height: 40px;
            font-size: 12px;
            text-transform: uppercase;
            font-family: "Roboto Slab";
            opacity: 0.5;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            
        }
        button:hover{
            font-size: 15px;
            opacity: 1;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }
    }

    h1{
        @include textposition(60px, 325px);
        position: absolute;
        letter-spacing: 20px;
    }
    .accentbox{
        @include box(960px, 566px, 122px, 960px);
        position: absolute;

        



    }
    .testimonialtext1{
        @include textposition(223px, 336px);
        width: 561px;
        letter-spacing: 2px;
        line-height: 35px;

        h4{
            @include textposition(100px, 200px);
            text-transform: uppercase;
        }
    }

    .testimonialtext2{
        @include textposition(301px, 996px);
        @include fontcolor($accent);
        width: 561px;
        letter-spacing: 2px;

        h4{
            @include textposition(50px, 300px);
            text-transform: uppercase;
        }
    }
    
}