@import 'src/styles.scss';


.team{
    @include sections;
   

    .stuff{
      
        position: absolute;
       width: 1366px;
       height: 768px;
    }

    .nat{
        @include textposition(0px,496px);
       
        width: 225px;
        height: 768px;
        border: 10px solid white;
        background-image:url('src/images/about/nat-min.png');
        background-size: 450px;
        background-position: -20px 0px;

    }

    .ethan{
        @include textposition(0px,496px+225px);
        width: 225px;
        height: 768px;
        border: 10px solid white;
        background-image:url('src/images/about/ethan-min.png');
        background-size: 450px;
        background-position: -20px 0px;
        position: absolute;
    }

    .riley{
        @include textposition(0px,496px+(2*225px));
        width:225px;
        height: 768px;
        border: 10px solid white;
        background-image:url('src/images/about/riley-min.png');
        background-size: 450px;
        background-position: -20px 0px;
        position: absolute;
    }

    .teresa{
        @include textposition(0px,496px+(3*225px));
        width: 225px;
        height: 768px;
        border: 10px solid white;
        background-image:url('src/images/about/teresa-min.png');
        background-size: 450px;
        background-position: -10px 0px;
        position: absolute;
    }

    .kat{
        @include textposition(0px,496px+(4*225px));
        width: 225px;
        height: 768px;
        border: 10px solid white;
        background-image:url('src/images/about/kat-min.png');
        background-size: 450px;
        background-position: -25px 0px;
        position: absolute;
    }
    .name{
        letter-spacing: 25px;
        margin-left: 280px;
        margin-top: 0px;
        position: absolute;

        .last{
            margin-left:60px;
            margin-top: -60px;
        }
    }

    .back{
        letter-spacing: 25px;
        margin-left: -110px;
        margin-top: 390px;
        position: absolute;

        button{
            background-color: white;
            border: 1px solid black;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        

    }

   
    .about{
        margin-left: 480px;
        margin-top: 400px;
        position: absolute;
        width: 500px;
    }

    

    

}